.modal-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  .modal-content {
    display: flex;
    height: 10rem;
    width: 66.666667%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    background-color: var(--snow-storm-light);
    padding: 0.5rem;
    color: var(--polar-night-darker);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  }
}
