.homeButton {
  background-color: var(--aurora-yellow);
  color: var(--polar-night-darker);
  width: 70%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 2rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: visible;
  cursor: pointer;
  transition: all 0.1s linear;
  top: 0;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #000;
    top: 20px;
    left: 5px;
    z-index: -1;
    transition: all 0.1s linear;
  }

  &:hover {
    color: #fff;
    top: -5px;

    &::before {
      top: 25px;
      transform: scale(0.98);
    }
  }
}

@media only screen and (max-width: 700px) {
  .homeButton {
    font-size: 1.3rem;
    padding: 1rem 0;
  }
}

@media only screen and (min-width: 2000px) {
  .homeButton {
    width: 50%;
  }
}