@font-face {
  font-family: lordOfRingsFont;
  src: url(PixelifySans.ttf);
}

.game-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 2% 0%;
  gap: 5%;
  background-image: url('./background.png');
}

.game-header {
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3%;
}

.game-title {
  font-size: 3rem;
  font-family: lordOfRingsFont;
  color: #c67927;
}

.game-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  width: 100%;
}

.game-button {
  height: 2.5rem;
  width: auto;
  cursor: pointer;
  color: white;
  padding: 0% 2%;
  box-shadow: 10px 5px 5px black;
  background-image: url('./buttonImage.png');
}

.game-timer {
  color: white;
  display: flex;
  align-items: center;
  gap: 10%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 100%;
  width: 80%;
  gap: 2%;
}

.card-front,
.card-back {
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-back {
  background-image: url('./mainMenuImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: contain;
  position: relative;
}

.nav-bar{
  width: 100%;
  height: 5%;
}

@media only screen and (max-width: 600px) {
  .game-title {
    font-size: 2rem;
  }

  .game-button {
    font-size: 1rem;
  }

  .card-container{
    height: 100%;
  }

  .card-front,
  .card-back {
    height: 80%;
    width: 100%;
  }
}
