.game-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding: 2% 0%;
  gap: 5%;
  background-image: url('/background.png');
}

.game-header {
  display: flex;
  width: 100%;
  height: 20rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 3%;
}

.game-title {
  font-size: 3rem;
  color: #c67927;
}

.game-instructions {
  color: white;
  padding-top: 3px;
}

.game-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 1% 0%;
  gap: 5%;
}

.game-press-play-text {
  font-size: 1rem;
  width: 50%;
}

.game-button {
  display: flex;
  gap: 10%;
}

.game-button-play,
.game-button-restart {
  font-size: 1.5rem;
  height: 2.8rem;
  width: 12rem;
  cursor: pointer;
  color: white;
  padding: 0% 2%;
  box-shadow: 10px 5px 5px black;
  background-image: url('/buttonImage.png');
}

.game-score {
  display: flex;
  gap: 20%;
  font-size: 1.5rem;
  padding-right: 20px;
}

.game-timer,
.game-flips {
  color: white;
  display: flex;
  align-items: center;
  gap: 10%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 100%;
  width: 80%;
  gap: 2%;
}

.card-front,
.card-back {
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-back {
  background-image: url('/mainMenuImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: contain;
  position: relative;
  background-color: white;
}

.card-front:hover {
  background-color: white;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding-top: 2rem;
  color: white;
  font-size: 2rem;
}

.nav-bar {
  width: 100%;
  height: 5%;
}

@media only screen and (max-width: 1010px) {
  .game-title {
    font-size: 2rem;
  }

  .game-options {
    flex-direction: row;
  }

  .game-button {
    gap: 8%;
    width: 60%;
  }

  .game-button-play,
  .game-button-restart {
    font-size: 1rem;
    width: 7rem;
  }

  .game-score {
    gap: 10%;
    font-size: 1rem;
    padding-top: 4px;
    padding-right: 0px;
    justify-content: end;
    width: 18rem;
  }

  .game-header {
    flex-direction: column;
    height: 15rem;
  }

  .card-container {
    height: 100%;
  }

  .card-front,
  .card-back {
    height: 80%;
    width: 100%;
  }
}
