.scoreContextList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  backdrop-filter: blur(4px);
  box-shadow: var(--block-shadow);
}
