.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  min-height: 300px;
  border-radius: 0.5rem;
  color: var(--aurora-red);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
  padding: 1rem;
  text-align: center;
  text-shadow: none;
}
