@keyframes stars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
.minesweeperWrapper {
  overflow: hidden;
  max-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  .minesweeper {
    width: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0;
    z-index: 1;
    overflow: visible;

    .minesweeper__title {
      color: var(--snow-storm-dark);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h1 {
        text-shadow: var(--block-shadow);
        font-size: 3rem;
      }
      > button {
        background-color: transparent;
        border: none;
        color: var(--snow-storm-dark);
        filter: drop-shadow(var(--block-shadow));
        max-height: fit-content;
        cursor: pointer;
        line-height: 0;
      }
    }
    .minesweeper__details {
      color: var(--snow-storm-dark);
      text-shadow: var(--block-shadow);
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      width: 100%;

      > span {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
    .minesweeper__container {
      display: grid;
      grid-template-columns: repeat(15, 1fr);
      gap: 0.375rem;
      position: relative;

      & .gameOver {
        position: absolute;
        display: flex;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        align-items: center;
        justify-content: center;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
        font-size: 2rem;
        &.win span,
        &.lose span {
          background: var(--snow-storm-dark);
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          box-shadow: var(--block-shadow);
        }
        &.win span {
          color: var(--aurora-green);
        }
        &.lose span {
          color: var(--aurora-red);
        }
      }
    }
  }
}
#stars1,
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: stars 100s linear infinite;
  position: absolute;
  left: 0;
}
#stars1 {
  top: 0;
}
#stars2 {
  bottom: 0;
}

#stars3,
#stars4 {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: transparent;
  animation: stars 60s linear infinite;
  position: absolute;
  left: 0;
}
#stars3 {
  top: 0;
}
#stars4 {
  bottom: 0;
}
