@keyframes stars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
.minesweeperWrapper {
  overflow: hidden;
  max-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  .minesweeper {
    width: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0;
    z-index: 1;
    overflow: hidden;

    .minesweeper__title {
      color: var(--snow-storm-dark);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h1 {
        text-shadow: var(--block-shadow);
        font-size: 3rem;
      }
      > button {
        background-color: transparent;
        border: none;
        color: var(--snow-storm-dark);
        filter: drop-shadow(var(--block-shadow));
        max-height: fit-content;
        cursor: pointer;
        line-height: 0;
      }
    }
    .minesweeper__details {
      color: var(--snow-storm-dark);
      text-shadow: var(--block-shadow);
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      width: 100%;

      > span {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
    .minesweeper__container {
      display: grid;
      grid-template-columns: repeat(15, 1fr);
      gap: 0.375rem;
      position: relative;

      & .gameOver {
        position: absolute;
        display: flex;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        align-items: center;
        justify-content: center;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
        font-size: 2rem;
        &.win span,
        &.lose span {
          background: var(--snow-storm-dark);
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          box-shadow: var(--block-shadow);
        }
        &.win span {
          color: var(--aurora-green);
        }
        &.lose span {
          color: var(--aurora-red);
        }
      }
    }
  }
}
#stars1,
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: stars 100s linear infinite;
  position: absolute;
  left: 0;
  box-shadow: 74vw 57vh #fff, 53vw 96vh #fff, 30vw 86vh #fff, 91vw 93vh #fff, 46vw 89vh #fff,
    72vw 39vh #fff, 92vw 80vh #fff, 59vw 54vh #fff, 15vw 62vh #fff, 24vw 64vh #fff, 74vw 92vh #fff,
    17vw 30vh #fff, 12vw 83vh #fff, 74vw 11vh #fff, 42vw 80vh #fff, 90vw 4vh #fff, 70vw 17vh #fff,
    30vw 98vh #fff, 94vw 31vh #fff, 85vw 50vh #fff, 23vw 83vh #fff, 88vw 34vh #fff, 86vw 8vh #fff,
    45vw 70vh #fff, 71vw 92vh #fff, 25vw 21vh #fff, 0vw 41vh #fff, 57vw 85vh #fff, 71vw 16vh #fff,
    88vw 33vh #fff, 31vw 2vh #fff, 13vw 83vh #fff, 17vw 51vh #fff, 28vw 67vh #fff, 19vw 78vh #fff,
    55vw 53vh #fff, 28vw 50vh #fff, 63vw 19vh #fff, 46vw 31vh #fff, 49vw 45vh #fff, 88vw 23vh #fff,
    2vw 94vh #fff, 69vw 61vh #fff, 31vw 74vh #fff, 13vw 75vh #fff, 39vw 73vh #fff, 94vw 8vh #fff,
    39vw 31vh #fff, 22vw 58vh #fff, 38vw 44vh #fff, 26vw 64vh #fff, 23vw 30vh #fff, 35vw 29vh #fff,
    48vw 74vh #fff, 33vw 9vh #fff, 60vw 77vh #fff, 33vw 70vh #fff, 5vw 69vh #fff, 46vw 69vh #fff,
    97vw 58vh #fff, 88vw 19vh #fff, 49vw 96vh #fff, 46vw 29vh #fff, 13vw 15vh #fff, 67vw 10vh #fff,
    41vw 95vh #fff, 38vw 28vh #fff, 70vw 60vh #fff, 46vw 81vh #fff, 41vw 56vh #fff, 67vw 5vh #fff,
    99vw 12vh #fff, 23vw 86vh #fff, 16vw 99vh #fff, 34vw 21vh #fff, 12vw 42vh #fff, 89vw 44vh #fff,
    92vw 77vh #fff, 12vw 70vh #fff, 94vw 40vh #fff, 47vw 2vh #fff, 34vw 21vh #fff, 7vw 11vh #fff,
    43vw 93vh #fff, 29vw 84vh #fff, 56vw 25vh #fff, 68vw 74vh #fff, 93vw 76vh #fff, 58vw 65vh #fff,
    70vw 9vh #fff, 16vw 44vh #fff, 6vw 78vh #fff, 99vw 6vh #fff, 95vw 90vh #fff, 87vw 2vh #fff,
    63vw 56vh #fff, 97vw 92vh #fff, 83vw 77vh #fff, 96vw 1vh #fff, 34vw 44vh #fff;
}
#stars1 {
  top: 0;
}
#stars2 {
  bottom: 0;
}

#stars3,
#stars4 {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: transparent;
  animation: stars 60s linear infinite;
  position: absolute;
  left: 0;
  box-shadow: 38vw 32vh #fff, 97vw 98vh #fff, 47vw 4vh #fff, 47vw 49vh #fff, 0vw 75vh #fff,
    41vw 41vh #fff, 11vw 33vh #fff, 23vw 69vh #fff, 51vw 96vh #fff, 91vw 59vh #fff, 16vw 58vh #fff,
    60vw 15vh #fff, 26vw 99vh #fff, 49vw 48vh #fff, 87vw 16vh #fff, 48vw 16vh #fff, 92vw 49vh #fff,
    37vw 5vh #fff, 65vw 25vh #fff, 45vw 55vh #fff, 63vw 66vh #fff, 52vw 4vh #fff, 50vw 73vh #fff,
    18vw 40vh #fff, 54vw 57vh #fff, 62vw 9vh #fff, 4vw 71vh #fff, 4vw 54vh #fff, 26vw 10vh #fff,
    64vw 33vh #fff;
}
#stars3 {
  top: 0;
}
#stars4 {
  bottom: 0;
}
