.scoreRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--polar-night-darker);
  box-shadow: var(--block-shadow);
  color: var(--snow-storm-light);
  font-size: 1.75rem;

  &.highlight {
    background-color: var(--aurora-yellow);
    color: var(--polar-night-darker);
  }

  .scoreRow__rank {
    width: 4rem;
  }
  .scoreRow__username {
    flex: 1 1 0px;
  }
  .scoreRow__score {
    flex: 1 1 0px;
  }
}

@media only screen and (max-width: 400px) {
  .scoreRow {
    width: 14rem;
    gap: 2px;
  }
}
