.games {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 1000px) {
  .games {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
}
