.homePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .homePage__title {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5rem;
  }

  span:nth-child(1) {
    color: var(--aurora-yellow);
    font-size: 7rem;
    text-shadow: var(--block-shadow);
    text-transform: uppercase;
  }

  span:nth-child(2) {
    color: var(--aurora-red);
    font-size: 5.875rem;
    text-shadow: var(--block-shadow);
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 700px) {
  .homePage {
    height: 100%;
    padding-top: 2rem;
  }

  .homePage__title {
    flex-direction: column;
    line-height: 3rem;
  }

  .homePage__title > h1 > span:nth-child(1),
  .homePage__title > h1 > span:nth-child(2) {
    font-size: 4rem;
  }
}
