.leaderboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 8rem;

  .gameSelection {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    a {
      background-color: var(--snow-storm-dark);
      color: var(--polar-night-darker);
      padding: 0.5rem 1rem;
      box-shadow: var(--block-shadow);

      &.active {
        background-color: var(--aurora-yellow);
      }
      &:active {
        position: relative;
        top: 5px;
        left: 5px;
        box-shadow: none;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .leaderboard {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .gameSelection {
    flex-direction: column;

    a {
      width: 100%;
      text-align: center;
    }
  }

}
