.profilePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 700px) {
  .profilePage {
    height: 100%;
  }


}