#scoreSubmit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  text-align: center;

  .initials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 1rem;

    input[type='text'] {
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: solid 5px var(--polar-night-darker);
      color: var(--polar-night-darker);
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      width: 2rem;
    }
  }
}
