.minesweeperCell {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #b7cbe4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    background: #ffffff;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    z-index: -1;
    border-radius: 0.375rem;
    opacity: 0.1;
  }

  &.show::before {
    opacity: 0;
  }
  &.show .bug {
    background-color: var(--aurora-red);
    color: var(--snow-storm-light);
    padding: 0.125rem;
    position: relative;
    z-index: 2;
  }
  .proximity1 {
    color: var(--frost-light-blue);
  }
  .proximity2 {
    color: var(--aurora-green);
  }
  .proximity3 {
    color: var(--aurora-red);
  }
  .proximity4 {
    color: var(--aurora-purple);
  }
  .proximity5 {
    color: var(--aurora-yellow);
  }
  .proximity6 {
    color: var(--frost-green);
  }
  .proximity7,
  .proximity8 {
    color: var(--aurora-orange);
  }
  .flag {
    color: var(--aurora-red);
    position: absolute;
    padding: 0.125rem;
    z-index: 1;
  }
  &:hover {
    transform: scale(1.1);
  }
}
