#logInButton {
  color: var(--polar-night-darker);
  display: flex;
  align-items: center;
  background-color: var(--snow-storm-dark);
  padding: 0.5rem 1rem;
  box-shadow: var(--block-shadow);
  cursor: pointer;
  gap: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-family: 'Jersey 25';
  font-size: 1.25rem;

  svg {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: var(--snow-storm-light);
  }
  &:active {
    top: calc(1rem + 5px);
    right: calc(1rem + 5px);
    box-shadow: none;
  }
}
