.arrowLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--snow-storm-dark);
  border-bottom: solid 3px var(--snow-storm-dark);
  text-shadow: none;

  &:hover {
    color: var(--snow-storm-light);
    border-color: var(--snow-storm-light);
  }

  &.dark {
    color: var(--frost-dark-blue);
    border-color: var(--frost-dark-blue);

    &:hover {
      color: var(--frost-pale-blue);
      border-color: var(--frost-pale-blue);
    }
  }
}
