.profileTextInput {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  height: 2.25rem;
  display: block;
  width: 100%;
  text-align: right;
  background: transparent;
  border: none;
  outline: none;
}

@media only screen and (max-width: 700px) {
  .profileTextInput {
    font-size: 2rem;
  }
}
