.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  backdrop-filter: blur(4px);
  box-shadow: var(--block-shadow);

  p {
    width: 100%;
  }

  .profileHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2rem;
    border-bottom: solid 0.25rem var(--snow-storm-dark);
    .avatar {
      box-shadow: var(--block-shadow);
      border: solid 0.5rem var(--snow-storm-light);
      border-radius: 50%;
    }

    .headerDetails {
      h2 {
        font-size: 3rem;
      }
      span {
        color: var(--polar-night-light);
      }
    }
  }
}
