.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  backdrop-filter: blur(4px);
  box-shadow: var(--block-shadow);

  h3 {
    font-size: 3rem;
    padding: 1rem 0 0;
    width: 100%;
  }
  .editIcon {
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0;
  }
  p {
    width: 100%;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: var(--snow-storm-dark);

      & > .editIcon {
        opacity: 1;
      }
    }
  }

  .profileHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: solid 0.25rem var(--snow-storm-dark);
    .avatar {
      box-shadow: var(--block-shadow);
      border: solid 0.5rem var(--snow-storm-light);
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    .headerDetails {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 0;

      span {
        color: var(--polar-night-light);
      }
    }

    .username {
      font-size: 3rem;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: var(--snow-storm-dark);

        & > .editIcon {
          opacity: 1;
        }
      }
    }
  }
  .logOut {
    background-color: var(--aurora-red);
    color: var(--snow-storm-light);
    padding: 0.4rem 1rem;
    border: none;
    outline: none;
    box-shadow: var(--block-shadow);
    cursor: pointer;

    &:active {
      box-shadow: none;
      position: relative;
      top: 5px;
      left: 5px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .userProfile {
    width: 90%;
  }

  .profileHeader {
    flex-direction: column;
  }

  .userProfile {
    .headerDetails {
      padding-top: 1rem;
      .username {
        font-size: 2rem;
      }
    }
  }

  .userProfile {
    h3 {
      font-size: 2rem;
    }
  }
}
