.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
  background-color: var(--aurora-yellow);
  align-items: center;

  a {
    text-decoration: none;
    color: var(--polar-night-darker);
  }
}
